<template name="principalMenu">
  <div class="ui middle aligned centered three column stackable grid segment" id="principal-menu">
    <div class="column">
      <img src="logo2.png" id="logo">
    </div>
    <div class="center aligned column">
      <div class="ui secondary menu">
        <a class="item" href="/buy">
          <i class="large shop icon"></i>
          Compra
        </a>
        <a class="item" href="/craft">
          <i class="large paint brush icon"></i>
          Crea
        </a>
        <a class="item" href="/learn">
          <i class="large idea icon"></i>
          Aprende
        </a>
        <a class="item" href="/sell">
          <i class="large money icon"></i>
          Vende
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui secondary right floated menu">
        <div class="item">
          <div class="ui primary button">Iniciar Sesión</div>
        </div>
        <div class="item">
          <div class="ui positive button">Registrarse</div>
        </div>
      </div>
    </div>
  </div>
</template>
