<template name="principalMenu">
  <div class="ui middle aligned centered grid segment" id="principal-menu">
    <div class="one wide column">
      <img class="ui image" src="logo.png"/>
    </div>
    <div class="two wide column">
      <h1>CraftStore</h1>
    </div>
    <div class="center aligned eleven wide column">
      <div class="ui secondary menu">
        <div class="right menu">
          <a class="item">Compra</a>
          <a class="item">Crea</a>
          <a class="item">Aprende</a>
          <a class="item">Vende</a>
          <div class="item">
            <div class="ui primary button">Iniciar Sesión</div>
          </div>
          <div class="item">
            <div class="ui positive button">Registrarse</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
