.image.text {
  position: absolute;
  bottom: 10%;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
  width: 100%;
  z-index: 1;

  font-weight: bold;
  font-size: 1.28571429em;
  line-height: 1.2857em;
  text-align: center;
  color: black;
}

#categories > .column > a > img {
  -webkit-filter: contrast(70%);
}

.ui.four.cards > .card {
  margin: 0 !impotant;
}

#categories, #search-bar {
  margin-top: 30px;
}

#categories > .column {
  padding: 0;
}

#principal-menu {
  margin: 0;
}

#logo {
  margin-left: 4%;
}
